h1 {
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 60px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

img {
    max-width: 250px; 
    height: auto; 
}

.content {
    background-color: (255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

